<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="/style/style.css" />
	
</head>
<body>
	<div class = "container">
	<div class = "banner">
		<img class="newappIcon" src="images/newapp-icon.png">
		<p class = "appTitle">
			index1
		</p>
	</div>

		items
		<section>
			<table id='animals' class='records' border='0' cellspacing='0' cellpadding='0'><tbody></tbody></table>
		</section>
<br><br><br>
		<input id="newanimal">
		<button id="addanimal" onclick="addanimal()">add an animal + number of legs</button>

		<br><br><%=somevar%>
		<br><br>
		

	<script type="text/javascript" src="/scripts/util.js"></script>
	<script type="text/javascript" src="/scripts/index2.js"></script>

	<br><br><br>
	</div>
</body>
</html>
